ansible==11.7.0
beautifulsoup4
# black
# celery
# django-cors-headers
# django-debug-toolbar
# django-drf-filepond
# django-filter
# django-import-export
# django-loguru
# django-oauth-toolkit
# django-redis
# django-simpleui
# django-storages
# django-stubs
# django-stubs-ext
# Django==5.1.1
# djangorestframework
# djangorestframework-simplejwt
# djangorestframework-stubs
# drf-spectacular
# drf-spectacular-sidecar
# fastapi
ipython
# isort
# jieba
loguru
lxml
markdown-it-py[plugins]
# mkdocs
# mkdocs-get-deps
# mkdocs-material
# mkdocs-material-extensions
# mypy-extensions
numpy==2.1.1
openpyxl
pandas-stubs
pandas==2.2.3
paramiko
# passlib
pexpect
# pillow
# pip2pi
psutil
pydantic
# pydantic-ai
pyinotify
pylint
# pylint-django
# pylint-plugin-utils
pymysql
python-gnupg
# redis
requests
# rich
salt==3005
sqlalchemy
# supervisor==4.2.5
toml
# tqdm
urllib3
# uvicorn
watchdog
yq
xlrd
# zabbix-utils[async]
