# ansible
# ansible-runner
# beautifulsoup4
# black
# celery
# django-cors-headers
# django-debug-toolbar
# django-drf-filepond
# django-filter
# django-import-export
# django-loguru
# django-oauth-toolkit
# django-redis
# django-simpleui
# django-storages
# django-stubs
# django-stubs-ext
# Django==5.1.1
# djangorestframework
# djangorestframework-simplejwt
# djangorestframework-stubs
# drf-spectacular
# drf-spectacular-sidecar
# fastapi
# ipython
# isort
# jieba
# loguru
# lxml
# markdown-it-py[plugins]
# mkdocs
# mkdocs-get-deps
# mkdocs-material
# mkdocs-material-extensions
# mypy-extensions
# numpy
# numpy==2.1.1
# openpyxl
# pandas
# pandas-stubs
# pandas==2.2.3
# paramiko
# passlib
# pillow
# pip2pi
# pydantic
# pydantic-ai
# pylint
# pylint-django
# pylint-plugin-utils
# pymysql
# python-gnupg
# redis
# requests
# rich
# salt
# sqlalchemy
# tqdm
# urllib3
# uvicorn
# watchdog
# xlrd
# xlsxwriter
# zabbix-utils[async]
ansible==2.9.27
pexpect
psutil
pyinotify
yq
fastmcp
asyncssh